
    <div id="hw-hero"> 
<div id="page-header" class="contact">
   <div class="title-breadcrumbs">
   <h1>CONTACT US</h1>
   
   </div>

    </div>
    <!-- END OF PAGE HEADER -->
  </div>


  
<div class="about1-numbers contact">
      <div class="row">

        <div class="col-sm-6">
        <div class="shadow-effect">
          <div class="row">
            <div class="col-sm-12 col-md-3">
            <div class="number lightgray"><span class="typcn typcn-mail"></span></div>
            </div>
            <div class="col-sm-12 col-md-9">
              <h4 style="text-transform:uppercase;">email us at:</h4>
              <p>Please drop us an email on</p>

              <span><p>For investment related queries, e-mail us at<br><a href="mailto:Investor.info@magadhcapital.com">Investor.info@magadhcapital.com</a></span>
              <span><p>For any other query, e-mail us at<br><a href="mailto:info@magadhcapital.com">Info@magadhcapital.com</a></span>
                <span><p>For grievance related to Portfolio Management Services, e-mail us at<br><a href="mailto:grievance.pms@magadhcapital.com">grievance.pms@magadhcapital.com</a></span>
                <span><p>For grievance related to Alternative Investment Fund, e-mail us at<br><a href="mailto:grievance.aif@magadhcapital.com">grievance.aif@magadhcapital.com</a></span>

            </div>

           </div>
          </div>
        </div>

        

        <div class="col-sm-6">
         <div class="shadow-effect">
          <div class="row">
            <div class="col-sm-12 col-md-3">
              <div class="number green"><span class="typcn typcn-location"></span></div>
            </div>
            <div class="col-sm-12 col-md-9">
              <h4 style="text-transform:uppercase;">our office address:</h4>
              <p>One Lodha Place,<br>
12th Floor, Unit No. 1215C,<br>
Senapati Bapat Marg,<br>
Lower Parel,<br>
Mumbai – 400013,<br>
Maharashtra, India</p>
            </div>
            </div>
          </div>
        </div>
      </div>

      </div>
      <iframe
src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3772.1155341238527!2d72.8384913!3d19.01463!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7cec3f462dfbd%3A0x8f317d1b39e5e5ce!2sSenapati%20Bapat%20Marg%2C%20Mumbai%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1779090187559!5m2!1sen!2sin"
width="100%" height="350" style="border:0;" allowfullscreen></iframe>