<div id="hw-hero">
    <div id="page-header" class="contact">
        <div class="title-breadcrumbs">
            <h1>RESOURCES</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 normaltabs tabs-top-horizontal my-3">
        <ul
            class="nav nav-tabs"
            id="assistances"
            role="tablist"
            aria-label="Resources Sections"
            (keydown)="onTablistKeydown($event)"
            style="position: relative; z-index: 2">
            <li class="nav-item"
                role="presentation"
                [class.active]="activeTab === 'our_blogs'">
                <a
                    class="nav-link"
                    [class.active]="activeTab === 'our_blogs'"
                    id="res-tab-our-blogs"
                    [routerLink]="[]"
                    fragment="our_blogs"
                    role="tab"
                    aria-controls="res-panel-our-blogs"
                    [attr.aria-selected]="activeTab === 'our_blogs'"
                    [attr.tabindex]="activeTab === 'our_blogs' ? 0 : -1">OUR BLOGS</a>
            </li>
            <li class="nav-item"
                role="presentation"
                [class.active]="activeTab === 'Media'">
                <a
                    class="nav-link"
                    [class.active]="activeTab === 'Media'"
                    id="res-tab-media"
                    [routerLink]="[]"
                    fragment="Media"
                    role="tab"
                    aria-controls="res-panel-media"
                    [attr.aria-selected]="activeTab === 'Media'"
                    [attr.tabindex]="activeTab === 'Media' ? 0 : -1">Media</a>
            </li>
            <li class="nav-item"
                role="presentation"
                [class.active]="activeTab === 'Investor_Letters'">
                <a
                    class="nav-link"
                    [class.active]="activeTab === 'Investor_Letters'"
                    id="res-tab-investor-letters"
                    [routerLink]="[]"
                    fragment="Investor_Letters"
                    role="tab"
                    aria-controls="res-panel-investor-letters"
                    [attr.aria-selected]="activeTab === 'Investor_Letters'"
                    [attr.tabindex]="activeTab === 'Investor_Letters' ? 0 : -1">Investor Letters</a>
            </li>
            <li class="nav-item"
                role="presentation"
                [class.active]="activeTab === 'towards_awareness'">
                <a
                    class="nav-link"
                    [class.active]="activeTab === 'towards_awareness'"
                    id="res-tab-towards-awareness"
                    [routerLink]="[]"
                    fragment="towards_awareness"
                    role="tab"
                    aria-controls="res-panel-towards-awareness"
                    [attr.aria-selected]="activeTab === 'towards_awareness'"
                    [attr.tabindex]="activeTab === 'towards_awareness' ? 0 : -1">Towards Awareness</a>
            </li>
            <li class="nav-item"
                role="presentation"
                [class.active]="activeTab === 'UPI'">
                <a
                    class="nav-link"
                    [class.active]="activeTab === 'UPI'"
                    id="res-tab-upi"
                    [routerLink]="[]"
                    fragment="UPI"
                    role="tab"
                    aria-controls="res-panel-upi"
                    [attr.aria-selected]="activeTab === 'UPI'"
                    [attr.tabindex]="activeTab === 'UPI' ? 0 : -1">UPI Payment</a>
            </li>
        </ul>

        <div class="tab-content">
            <div
                class="tab-pane"
                [class.active]="activeTab === 'our_blogs'"
                id="res-panel-our-blogs"
                role="tabpanel"
                aria-labelledby="res-tab-our-blogs"
                tabindex="0"
                [hidden]="activeTab !== 'our_blogs'">
                <app-blogs></app-blogs>
            </div>

            <div
                class="tab-pane"
                [class.active]="activeTab === 'Media'"
                id="res-panel-media"
                role="tabpanel"
                aria-labelledby="res-tab-media"
                tabindex="0"
                [hidden]="activeTab !== 'Media'">
                <app-media></app-media>
            </div>

            <div
                class="tab-pane"
                [class.active]="activeTab === 'Investor_Letters'"
                id="res-panel-investor-letters"
                role="tabpanel"
                aria-labelledby="res-tab-investor-letters"
                tabindex="0"
                [hidden]="activeTab !== 'Investor_Letters'">
                <app-newsletters></app-newsletters>
            </div>

            <div
                class="tab-pane"
                [class.active]="activeTab === 'towards_awareness'"
                id="res-panel-towards-awareness"
                role="tabpanel"
                aria-labelledby="res-tab-towards-awareness"
                tabindex="0"
                [hidden]="activeTab !== 'towards_awareness'">
                <app-towards-awareness></app-towards-awareness>
            </div>

            <div
                class="tab-pane"
                [class.active]="activeTab === 'UPI'"
                id="res-panel-upi"
                role="tabpanel"
                aria-labelledby="res-tab-upi"
                tabindex="0"
                [hidden]="activeTab !== 'UPI'">
                <app-upi></app-upi>
            </div>
        </div>
    </div>
</div>
